<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form action="/register" method="post">
    <input type="radio" id="manager" name="role" value="1" required>
    <label for="manager">Manager</label>
    <input type="radio" id="employee" name="role" value="0" required>
    <label for="employee">Employee</label>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Login</button>
</body>
</html>